<!DOCTYPE html>
<!-- isso é uma tag <html> -->
<!-- Na tag <head> irá configurações do meu documento-->
<!-- Na tag <body> Todo o conteúdo visível na página-->
<!--Primeiro Arquivo HTML em MUITO TEMPO-->
<!--HTML HyperText Markup Language-->

<html lang="pt_br">
<!-- lang é um atributo -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-created-success.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    
</head>

<body id="created-class">

<main>
 <img id="imageSuccess" src="/images/success-background.svg" alt="Cadrastro realizado com sucesso">
 <img src="/images/icons/success-check-icon.svg" alt="Sucesso.img">
 <H1>Cadastro Salvo!</H1>
 <p>Tudo certo, seu cadastro está na nossa lista de professores. <br>
Agora é só ficar de olho no seu WhatsApp.</p>
</main>

</body>

<footer>
    <a class="access-study" href="/study">Acessar lista</a>
</footer>